#about {   
    display: flex;
    flex-direction: row;
    width: 93vw;
    height: 80vh;
    margin: 0 3.5vw;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bannerTech {
    opacity: 0%;    // Para tentar apagar o elemento antes da animação
    
    position: relative;
    display: flex;
    flex-direction: column;
    background: #393E46;
    border-radius: 4px;
    height: 33%;
    margin: 5px 20px;

    span {
        margin: 20px 10px 0 20px;
    }
    .tittle {
        font-weight: 400;
        font-size: 1.5em;
    }
    .description {
        width: auto;
    }
    .listSvg {
        position: absolute;
        bottom: 20px;
        left: 20px;
        height: 15%;

        svg {
            margin: 0 10px 0 0;
            fill: #222831;
            height: 100%;
        }
    }
}

#textDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    img {
        border-radius: 100%;
    }
    span {
        text-align: justify;
        max-width: 400px;
        margin: 20px 10px 0 20px;
    }
    .text1 {
        text-align: center;
        font-weight: 700;
        font-size: 2em;
    }
    .text2 {
        font-weight: 400;
        font-size: 1em;
        color: #A27B5C;
    }
    .text3 {
        font-weight: 400;
        font-size: 1em;
    }
}

.bannerTech:hover {
    transform: scale(1.02);
}
.bannerFront:hover {
    .tittle {
        color: #61DAFB;
    }
}
.bannerBack:hover {
    .tittle {
        color: #777BB4;
    }
}
.bannerDeveloping:hover {
    .tittle {
        color: #F05032;
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(-60px);
        opacity: 0%;
    }
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}
@keyframes moveToLeft {
    0% {
        transform: translateX(40px);
        opacity: 0%;
    }
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

.bannerFront:nth-child(1) {
    animation: moveToRight 2s ease;

    opacity: 100%;
}
.bannerTech:nth-child(2) {
    animation: moveToRight 2s ease .2s;

    opacity: 100%;
}
.bannerTech:nth-child(3) {
    animation: moveToRight 2s ease .4s;

    opacity: 100%;
}

#textDescription {
    animation: moveToLeft 2s ease;
}