.contact {
    display: flex;
    flex-direction: row;
    width: 93vw;
    height: 80vh;
    margin: 0 3.5vw;    
    
    .formContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 50%;
        align-items: center;

        gap: 30px;

        span {
            max-width: 500px;
        }
        .textMain {
            font-weight: 700;
            font-size: 1.5em;

        }
        .textDescription {
            text-align: justify;
        }
    }
    form {
        width: 75%;

        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-gap: 10px;

        input, textarea {
            font: 400 1em 'JetBrains Mono', monospace;
            font-size: 0.9em;
            height: 3em;
            background: #393E46;
            outline: none;
            color: #d1d1d1;
        }
        .subjectInput, textarea, button {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        textarea {
            height: 144px;
            font-size: 0.85em;

        }

        button {
            height: 2em;

            background: #393E46;
        }
    }

    .map {
        flex: 1;
        display: flex;
        justify-content: center;
        
        .mapContainer {
            width: 70%;
            height: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .addressContainer, .copyContainer {
                display: flex;
    
                span {
                    width: 20em;
                    border: solid 1px #393E46;
                }
                button, a {
                    background-color: #393E46;
                }
                span, button, a {
                    height: 2em;
    
                    display: flex;
                    align-items: center;
                    padding: 0;
    
                    svg {
                        height: 1em;
                        fill: #d1d1d1;
                    }
                }
            }

            .numberText {
                width: 20em;
                font-weight: 400;
                text-align: justify;
                color: #A27B5C;
            }
            .copiedContainer {
                display: flex;
                align-items: center;
                height: 2em;
                border: solid 1px #D65A31;

                .copiedSpan {
                    width: auto;
                    height: 1em;
                }
            }
        }
    }
}

.redirectMap:active {
    border: solid 1px #D65A31;
    height: calc(2em - 2px);
}

.copyButton:active {
    height: calc(2em - 2px);
}

.emailInputEmpty, .nameInputEmpty, .subjectInputEmpty, .textareaEmpty{
    border-bottom: solid 2px #C02739;
}
.subjectInputEmpty{         // Fix a bug
    grid-column-start: 1;
    grid-column-end: 3;
}

.formContainer {
    animation: moveToLeft 1.3s ease;

    @keyframes moveToLeft {
        0% {
            transform: translateX(60px);
            opacity: 0%;
        }
        100% {
            transform: translateX(0px);
            opacity: 100%;
        }
    }
    opacity: 100%;
}

.mapContainer {
    animation: moveToRight 1.3s ease;

    @keyframes moveToRight {
        0% {
            transform: translateX(-60px);
            opacity: 0%;
        }
        100% {
            transform: translateX(0px);
            opacity: 100%;
        }
    }
    opacity: 100%;
}