.contact {
    display: flex;
    flex-direction: row;
    width: 93vw;
    height: 80vh;
    margin: 0 3.5vw;    
    
    .form-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 50%;
        align-items: center;

        gap: 30px;

        span {
            max-width: 500px;
        }
        .text-main {
            font-weight: 700;
            font-size: 1.5em;

        }
        .text-description {
            text-align: justify;
        }
    }
    form {
        width: 75%;

        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-gap: 10px;

        input, textarea {
            font: 400 1em 'JetBrains Mono', monospace;
            font-size: 0.9em;
            height: 3em;
            background: #393E46;
            outline: none;
            color: #d1d1d1;
        }
        .subject-input, textarea, button {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        textarea {
            height: 144px;
            font-size: 0.85em;

        }

        button {
            height: 2em;

            background: #393E46;
        }
    }

    #map {
        flex: 1;
        display: flex;
        justify-content: center;
        
        .map-container {
            width: 70%;
            height: 447px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .address-container, .copy-container {
                display: flex;

                .google-map {
                    background-color: gray;
                    height: 1000px;
                }
    
                span {
                    width: 20em;
                    border: solid 1px #393E46;
                }
                button, a {
                    background-color: #393E46;
                }
                span, button, a {
                    height: 2em;
    
                    display: flex;
                    align-items: center;
                    padding: 0;
    
                    svg {
                        height: 1em;
                        fill: #d1d1d1;
                    }
                }
            }
            .copied-container {
                display: flex;
                align-items: center;
                height: 2em;
                border: solid 1px #D65A31;

                .copied-span {
                    width: auto;
                    height: 1em;
                }
            }

            .cv-button {
                width: 10em;
                height: 2em;
                background-color: #393E46;
            }
        }
    }
}

.redirect-map:active {
    border: solid 1px #D65A31;
    height: calc(2em - 2px);
}

.copy-button:active {
    height: calc(2em - 2px);
}

.email-input-empty, .name-input-empty, .subject-input-empty, .textarea-empty{
    border-bottom: solid 2px #C02739;
}
.subject-input-empty{
    grid-column-start: 1;
    grid-column-end: 3;
}
