.contact {
    display: flex;
    width: 93vw;
    height: 80vh;
    margin: 0 3.5vw;    
    
    .formContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        gap: 30px;

        span {
            max-width: 500px;
        }
        .textMain {
            font-weight: 700;
            font-size: 1.5em;

        }
        .textDescription {
            text-align: justify;
        }
    }
    form {
        // width: 75%;     // Corrigir: Apply to devices above 768px

        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 10px;

        input, textarea {
            font: 400 1em 'JetBrains Mono', monospace;
            font-size: 0.9em;
            height: 3em;
            background: #393E46;
            outline: none;
            color: #d1d1d1;
        }

        .subjectInput, textarea, button {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        textarea {
            height: 144px;
            font-size: 0.85em;

        }

        button {
            height: 3em;
            margin-top: 2em;

            background: #D65A31;
        }
    }

    .map {
        flex: 1;
        display: flex;
        justify-content: center;
        
        .mapContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            min-height: 20vh;
            margin-bottom: 5vh;

            .addressContainer, .copyContainer {
                display: flex;

                padding-left: 10px;
                border-bottom: solid 1px #393E46;
    
                span {
                    width: 20em;
                }
                button, a {
                    background-color: #393E46;
                }
                span, button, a {
                    height: 2em;
    
                    display: flex;
                    align-items: center;
                    padding: 0;
    
                    svg {
                        height: 1em;
                        fill: #d1d1d1;
                    }
                }
            }

            .numberText {
                width: 20em;
                font-weight: 400;
                text-align: justify;
                color: #A27B5C;
            }
            .copiedContainer {
                display: flex;
                align-items: center;
                height: 2em;
                width: 36px;
                border: solid 1px #D65A31;

                .copiedSpan {
                    width: auto;
                    height: 1em;
                }
            }
        }
    }
}
// Effects

.redirectMap:active {
    border: solid 1px #D65A31;
    height: calc(2em - 2px);
}

.copyButton:active {
    height: calc(2em - 2px);
}

.emailInputEmpty, .nameInputEmpty, .subjectInputEmpty, .textareaEmpty, .undefinedEmpty {
    border-bottom: solid 2px #C02739;
}   
.subjectInputEmpty{         // Fix a bug
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (min-width: 769px) {
.formContainer {
    animation: moveToLeft 1.3s ease;

    @keyframes moveToLeft {
        0% {
            transform: translateX(60px);
            opacity: 0%;
        }
        100% {
            transform: translateX(0px);
            opacity: 100%;
        }
    }
    opacity: 100%;
}

.mapContainer {
    animation: moveToRight 1.3s ease;

    @keyframes moveToRight {
        0% {
            transform: translateX(-60px);
            opacity: 0%;
        }
        100% {
            transform: translateX(0px);
            opacity: 100%;
        }
    }
    opacity: 100%;
}
}
    
// Media
@media (max-width: 768px) {
    .contact {
        align-self: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 60px 20px 20px;

        form {
            width: 90%;
            margin-bottom: 60px;
            input{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
        .mapContainer {
            margin-bottom: 70px;
        }

        .googleMap, .addressContainer, .websiteContainer {
            display: none !important;   // Pesquisar sobre a visibilidade
        }
        .copyButton {
            height: 3em !important;
            width: 4em !important;
            justify-content: center;

            svg {
              height: 1.4em !important;
            }

            .copiedContainer {
                height: 3em !important;
                width: 4em !important;
                justify-content: center;
            }
        }
    }
}