#orbital {
    position: absolute;
    right: 0;
    top: 0;

    max-height: 100vh;
    opacity: 60%;       // Perfect is 80%

    z-index: -1;
}
p {
    width: 96vw;
    position: relative;
    top: 15vh;
    left: 3.5vw;
}

.text{
    &Regular {
        color: #d1d1d1;
        font-weight: 400;
        font-size: 0.9em;

        &Pink {
            color: #F475BF;
        }

    }
    &Bold {
        color: #F1FA8C;
        font-weight: 700;
        font-size: 1.5em;

        &Purple {
            color: #BD93F9;
        }
        &Cian {
            color: #8BE9FD;
        }
    }
}

// Effects
p:hover {
    cursor: default;
}

#codeApresentation {
    animation: moveToRight 2.2s ease;

    @keyframes moveToRight {
        0% {
            transform: translateX(-320px);
            opacity: 0%;
        }
        100% {
            transform: translateX(0px);
            opacity: 100%;
        }
    }
}
@media (min-width: 1025px) {
    #orbital {
        animation: transOpacity 2s ease;

        @keyframes transOpacity {
            0% {
                opacity: 0%;
                height: 50%;
                top: 25%;
            }
            100% {
                opacity: 60%;
                height: 100%;
            }
        }
    }
}
// Media
// Laptop - 1024px/654px
@media (max-width: 1024px) {
    html{
        font-size: 90%;
    }
    p {
        width: 96.5vw;
        position: relative;
        top: 15vh;
        left: 3.5vw;
    }
}
// Tablet - 768px/582px
@media (max-width: 768px) {
    html{
        font-size: 80%;
    }
    #orbital {
        top: 10vh;
        height: 80%;
    }
    p {
        width: 96.5vw;
        position: relative;
        top: 15vh;
        left: 3.5vw;
    }
}
// Mobile S - 320px/582px
@media (max-width: 360px) {
    html{
        font-size: 80%;
    }
    
    p {
        width: 96.5vw;
        position: relative;
        top: 15vh;
        left: 3.5vw;
    }
}
// Mobile S - 320px/582px
@media (max-width: 320px) {
    html{
        font-size: 70%;
    }
    p {
        width: 96.5vw;
        position: relative;
        top: 15vh;
        left: 3.5vw;
    }
}